html {
    height: 100%;
    overflow: hidden;
}
body {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding-top: constant(safe-area-inset-top);
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}
#app {
    min-height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
